body{
	margin: 0;
	padding: 0;
	background-image: url(img5.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.boxforlogin{
	width: 300px;
	height: 400px;
	background: #171717;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;


}


h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;

}

.boxforlogin p{
	margin: 0;
	padding: 0;
	font-weight: bold;

}

.boxforlogin input{
	width: 100%;
	margin-bottom: 20px;
}

.boxforlogin input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 15px;

}

.boxforlogin input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 15px;
	border-radius: 20px;


}

.boxforlogin input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.boxforlogin a{
	text-decoration: none;
	font-size: 13px;
	line-height: 20px;
	color: darkgrey;

}
.boxforlogin a:hover{
	color: #ffc107;

}

